In [1]:
import pandas as pd 
df=pd.read_csv("C:\\Users\\adapa\\Institute\\GenAI\\sales_data.csv\\sales_data.csv")
df.head(10)

,Order Date,Order ID,Product,Product_ean,cat√©gorie,Purchase Address,Quantity Ordered,Price Each,Cost price,turnover,margin
0,2019-01-22 21:25:00,141234,iPhone,5.638009e+12,V√™tements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5.563320e+12,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750
2,2019-01-17 13:33:00,141236,Wired Headphones,2.113973e+12,V√™tements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3.069157e+12,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965
4,2019-01-25 11:59:00,141238,Wired Headphones,9.692681e+12,√âlectronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950
5,2019-01-29 20:22:00,141239,AAA Batteries (4-pack),2.953869e+12,Alimentation,"775 Willow St, San Francisco, CA 94016",1,2.99,1.4950,2.99,1.4950
6,2019-01-26 12:16:00,141240,27in 4K Gaming Monitor,5.173671e+12,V√™tements,"979 Park St, Los Angeles, CA 90001",1,389.99,128.6967,389.99,261.2933
7,2019-01-05 12:04:00,141241,USB-C Charging Cable,8.051737e+12,V√™tements,"181 6th St, San Francisco, CA 94016",1,11.95,5.9750,11.95,5.9750
8,2019-01-01 10:30:00,141242,Bose SoundSport Headphones,1.508418e+12,√âlectronique,"867 Willow St, Los Angeles, CA 90001",1,99.99,49.9950,99.99,49.9950
9,2019-01-22 21:20:00,141243,Apple Airpods Headphones,1.386344e+12,√âlectronique,"657 Johnson St, San Francisco, CA 94016",1,150.00,97.5000,150.00,52.5000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 185950 entries, 0 to 185949
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order Date        185950 non-null  object
 1   Order ID          185950 non-null  int64
 2   Product           185950 non-null  object
 3   Product_ean       185950 non-null  float64
 4   cat√©gorie         185950 non-null  object
 5   Purchase Address  185950 non-null  object
 6   Quantity Ordered  185950 non-null  int64
 7   Price Each        185950 non-null  float64
 8   Cost price        185950 non-null  float64
 9   turnover          185950 non-null  float64
 10  margin            185950 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 15.6+ MB

In [5]:
df=df.drop_duplicates()

In [7]:
df=df.dropna()

In [9]:
cleaned_file_path="C:\\Users\\adapa\\Institute\\GenAI\\sales_data.csv\\Clean_sales_data.csv"

In [11]:
df.to_csv(cleaned_file_path,index=False)
print(f"Cleaned dataset saved to {cleaned_file_path}")

Cleaned dataset saved to C:\Users\adapa\Institute\GenAI\sales_data.csv\Clean_sales_data.csv

In [17]:
import pandas as pd

# Load the cleaned dataset
cleaned_file_path = "C:\\Users\\adapa\\Institute\\GenAI\\sales_data.csv\\Clean_sales_data.csv"
data = pd.read_csv(cleaned_file_path)

# convert date colums to datetime 
data["Order Date"] = pd.to_datetime(data['Order Date'])

In [19]:
# creating a column of margine

In [21]:
data.head(5)

,Order Date,Order ID,Product,Product_ean,cat√©gorie,Purchase Address,Quantity Ordered,Price Each,Cost price,turnover,margin,Margin
0,2019-01-22 21:25:00,141234,iPhone,5.638009e+12,V√™tements,"944 Walnut St, Boston, MA 02215",1,700.00,231.0000,700.00,469.0000,469.0000
1,2019-01-28 14:15:00,141235,Lightning Charging Cable,5.563320e+12,Alimentation,"185 Maple St, Portland, OR 97035",1,14.95,7.4750,14.95,7.4750,7.4750
2,2019-01-17 13:33:00,141236,Wired Headphones,2.113973e+12,V√™tements,"538 Adams St, San Francisco, CA 94016",2,11.99,5.9950,23.98,11.9900,5.9950
3,2019-01-05 20:33:00,141237,27in FHD Monitor,3.069157e+12,Sports,"738 10th St, Los Angeles, CA 90001",1,149.99,97.4935,149.99,52.4965,52.4965
4,2019-01-25 11:59:00,141238,Wired Headphones,9.692681e+12,√âlectronique,"387 10th St, Austin, TX 73301",1,11.99,5.9950,11.99,5.9950,5.9950

In [33]:
# average margine price 
data["avg_margin"]=df['margin'].mean()
print(data["avg_margin"])

0         115.289422
1         115.289422
2         115.289422
3         115.289422
4         115.289422
             ...
185945    115.289422
185946    115.289422
185947    115.289422
185948    115.289422
185949    115.289422
Name: avg_margin, Length: 185950, dtype: float64

In [35]:
df = pd.DataFrame(data)

# Function to calculate average margin by category
def average_margin_by_category(category):
    filtered_df = df[df['cat√©gorie'] == category]  # Filter the DataFrame
    if not filtered_df.empty:  # Check if the filtered DataFrame is not empty
        return filtered_df['margin'].mean()  # Calculate and return average margin
    else:
        return None  # Return None if no data found for the category

# Example Usage
category_to_check = 'V√™tements'
average_margin = average_margin_by_category(category_to_check)

if average_margin is not None:
    print(f"The average margin for {category_to_check} is: {average_margin:.4f}")
else:
    print(f"No data found for category: {category_to_check}")

The average margin for V√™tements is: 115.3333

In [37]:
import pandas as pd
import numpy as np

def run_sales_simulation(products, num_orders):
    """
    Simulates sales for given products over a specified number of orders.

    :param products: A list of dictionaries containing product info (name, price, cost).
    :param num_orders: An integer specifying the number of orders to simulate.
    :return: A DataFrame containing the simulation results.
    """
    
    # Prepare list to hold order data
    orders = []
    
    for _ in range(num_orders):
        # Select a random product
        product = np.random.choice(products)
        
        # Generate a random quantity ordered
        quantity_ordered = np.random.randint(1, 6)  # Random number between 1 and 5
        price_each = product['price']
        cost_price = product['cost']
        
        # Calculate turnover and margin
        turnover = price_each * quantity_ordered
        margin = (price_each - cost_price) * quantity_ordered
        
        # Append order data to the list
        orders.append({
            "Order ID": len(orders) + 1,
            "Product": product['name'],
            "Quantity Ordered": quantity_ordered,
            "Price Each": price_each,
            "Cost Price": cost_price,
            "Turnover": turnover,
            "Margin": margin
        })
    
    # Create a DataFrame from the orders
    orders_df = pd.DataFrame(orders)
    
    # Calculate total sales and total margin
    total_sales = orders_df['Turnover'].sum()
    total_margin = orders_df['Margin'].sum()
    
    print(orders_df)
    print(f"Total Sales: ${total_sales:.2f}")
    print(f"Total Margin: ${total_margin:.2f}")
    
    return orders_df

# Example products to simulate
products = [
    {"name": "iPhone", "price": 700.00, "cost": 231.00},
    {"name": "Lightning Charging Cable", "price": 14.95, "cost": 7.475},
    {"name": "Wired Headphones", "price": 11.99, "cost": 5.995},
    {"name": "27in FHD Monitor", "price": 149.99, "cost": 97.4935}
]

# Running the simulation
num_orders = 10  # Specify the number of orders to simulate
run_sales_simulation(products, num_orders)

   Order ID                   Product  Quantity Ordered  Price Each  \
0         1  Lightning Charging Cable                 4       14.95
1         2  Lightning Charging Cable                 2       14.95
2         3          Wired Headphones                 4       11.99
3         4          27in FHD Monitor                 4      149.99
4         5          Wired Headphones                 2       11.99
5         6  Lightning Charging Cable                 4       14.95
6         7  Lightning Charging Cable                 4       14.95
7         8                    iPhone                 4      700.00
8         9  Lightning Charging Cable                 1       14.95
9        10                    iPhone                 4      700.00

   Cost Price  Turnover    Margin
0      7.4750     59.80    29.900
1      7.4750     29.90    14.950
2      5.9950     47.96    23.980
3     97.4935    599.96   209.986
4      5.9950     23.98    11.990
5      7.4750     59.80    29.900
6      7.4750     59.80    29.900
7    231.0000   2800.00  1876.000
8      7.4750     14.95     7.475
9    231.0000   2800.00  1876.000
Total Sales: $6496.15
Total Margin: $4110.08

,Order ID,Product,Quantity Ordered,Price Each,Cost Price,Turnover,Margin
0,1,Lightning Charging Cable,4,14.95,7.4750,59.80,29.900
1,2,Lightning Charging Cable,2,14.95,7.4750,29.90,14.950
2,3,Wired Headphones,4,11.99,5.9950,47.96,23.980
3,4,27in FHD Monitor,4,149.99,97.4935,599.96,209.986
4,5,Wired Headphones,2,11.99,5.9950,23.98,11.990
5,6,Lightning Charging Cable,4,14.95,7.4750,59.80,29.900
6,7,Lightning Charging Cable,4,14.95,7.4750,59.80,29.900
7,8,iPhone,4,700.00,231.0000,2800.00,1876.000
8,9,Lightning Charging Cable,1,14.95,7.4750,14.95,7.475
9,10,iPhone,4,700.00,231.0000,2800.00,1876.000

In [39]:


import pandas as pd
import numpy as np

def run_sales_simulation_by_supplier(products, num_orders):
    """
    Simulates sales for products grouped by supplier over a specified number of orders.

    :param products: A list of dictionaries containing product info (name, price, cost, supplier).
    :param num_orders: An integer specifying the number of orders to simulate.
    :return: A summary DataFrame with total sales and total margin per supplier.
    """
    
    # Prepare a dictionary to hold results by supplier
    supplier_results = {}
    
    for _ in range(num_orders):
        # Select a random product
        product = np.random.choice(products)
        
        # Generate a random quantity ordered
        quantity_ordered = np.random.randint(1, 6)  # Random number between 1 and 5
        price_each = product['price']
        cost_price = product['cost']
        
        # Calculate turnover and margin
        turnover = price_each * quantity_ordered
        margin = (price_each - cost_price) * quantity_ordered
        
        # Get the supplier
        supplier = product['supplier']

        # Add results to the supplier's total in the dictionary
        if supplier not in supplier_results:
            supplier_results[supplier] = {
                'Total Sales': 0,
                'Total Margin': 0
            }
        
        supplier_results[supplier]['Total Sales'] += turnover
        supplier_results[supplier]['Total Margin'] += margin
    
    # Convert results to DataFrame
    summary_df = pd.DataFrame.from_dict(supplier_results, orient='index').reset_index()
    summary_df.columns = ['Supplier', 'Total Sales', 'Total Margin']
    
    print(summary_df)
    return summary_df

# Example products with suppliers
products = [
    {"name": "iPhone", "price": 700.00, "cost": 231.00, "supplier": "Apple"},
    {"name": "Lightning Charging Cable", "price": 14.95, "cost": 7.475, "supplier": "Apple"},
    {"name": "Wired Headphones", "price": 11.99, "cost": 5.995, "supplier": "Apple"},
    {"name": "27in FHD Monitor", "price": 149.99, "cost": 97.4935, "supplier": "Dell"},
    {"name": "Gaming Mouse", "price": 39.99, "cost": 20.00, "supplier": "Logitech"},
    {"name": "Mechanical Keyboard", "price": 89.99, "cost": 50.00, "supplier": "Logitech"}
]

# Running the simulation
num_orders = 100  # Specify the number of orders to simulate
run_sales_simulation_by_supplier(products, num_orders)

   Supplier  Total Sales  Total Margin
0  Logitech      5759.11      2659.110
1      Dell      2699.82       944.937
2     Apple     48632.89     32289.445

   Supplier  Total Sales  Total Margin
0  Logitech      5759.11      2659.110
1      Dell      2699.82       944.937
2     Apple     48632.89     32289.445

The project detailed in the uploaded PDF is a **Sales Data Analysis and Simulation using Python and Pandas**, particularly tailored to understand business metrics like turnover and margin across products, categories, and suppliers. Below is a structured explanation of each component in the project:

---

## üìä **1. Data Loading and Initial Exploration**

The project begins by loading a CSV file:

```python
df = pd.read_csv("sales_data.csv")
```

**Data Columns:**
- `Order Date`, `Order ID`
- `Product`, `Product_ean`, `cat√©gorie`
- `Purchase Address`
- `Quantity Ordered`, `Price Each`, `Cost price`, `turnover`, `margin`

**Initial Steps:**
- `df.head(10)`: Shows the first 10 rows.
- `df.info()`: Provides column data types and non-null values.

---

## üßπ **2. Data Cleaning**

Steps include:
- **Removing duplicates**: `df.drop_duplicates()`
- **Handling missing values**: `df.dropna()`
- **Saving cleaned data**: Written back to CSV for future use.

```python
df.to_csv("Clean_sales_data.csv", index=False)
```

---

## üìà **3. Data Preprocessing and Feature Engineering**

- **Datetime Conversion**:
```python
data["Order Date"] = pd.to_datetime(data['Order Date'])
```

- **Creating a new column `avg_margin`**: Represents the average of the `margin` column across the entire dataset.
```python
data["avg_margin"] = df['margin'].mean()
```

- **Average Margin by Category**:
A function is defined to calculate the average margin for a specific product category:
```python
def average_margin_by_category(category):
    ...
```
Example: For *V√™tements*, the margin is `115.3333`.

---

## üß™ **4. Sales Simulation (Basic)**

### Purpose:
Simulates random sales data to model business performance.

**Key Function:**
```python
run_sales_simulation(products, num_orders)
```

**Inputs:**
- List of products (with name, price, and cost)
- Number of orders to simulate

**Outputs:**
- A DataFrame of simulated sales
- Total turnover and margin

üìå *Example result (10 orders)*:
- Total Sales: `$6496.15`
- Total Margin: `$4110.08`

---

## üß† **5. Advanced Simulation by Supplier**

### Purpose:
Understand profitability per supplier using simulated data.

**Key Function:**
```python
run_sales_simulation_by_supplier(products, num_orders)
```

**Inputs:**
- Product list with suppliers
- Number of orders to simulate

**Output:**
- A DataFrame summarizing `Total Sales` and `Total Margin` by each supplier

üìå *Example result (100 orders)*:
| Supplier | Total Sales | Total Margin |
|----------|-------------|--------------|
| Logitech | 5759.11     | 2659.11      |
| Dell     | 2699.82     | 944.937      |
| Apple    | 48632.89    | 32289.445    |

---

## üßæ **Key Insights Gained from the Project**
- **Data preprocessing** and **cleaning** are essential for valid analytics.
- **Margins** can be calculated and interpreted to identify profitable categories or products.
- **Simulation models** help estimate future sales and understand supplier contribution.
- **Aggregation by category or supplier** provides actionable business insights.

---

If you want, I can help you add visualizations (e.g., bar charts for supplier margins or monthly sales trends) or convert this into a Jupyter Notebook report. Would you like to go further with that?

Absolutely! Here's a list of **interview questions** based on the Sales Data Analysis and Simulation project, categorized by topic to help prepare for both **technical** and **conceptual** discussions:

---

### üßπ **1. Data Cleaning & Preprocessing**
**Basic**
- What techniques did you use to clean the dataset?
- Why is it important to remove duplicates and null values?

**Intermediate**
- How did you convert the date column? Why was this conversion important?
- What happens if you don't drop null values before analysis?

**Advanced**
- What other data cleaning steps could you have taken besides `drop_duplicates()` and `dropna()`?

---

### üìä **2. Exploratory Data Analysis (EDA)**
**Basic**
- What are the key columns in your dataset and what do they represent?
- What kind of insights can you get from `Quantity Ordered`, `Price Each`, and `Cost Price`?

**Intermediate**
- How did you calculate turnover and margin? Why are they important business metrics?

**Advanced**
- How would you handle outliers or incorrect entries in `Price Each` or `Quantity Ordered`?

---

### üßÆ **3. Feature Engineering**
**Basic**
- What is the `avg_margin` column, and how did you compute it?

**Intermediate**
- Why did you create a function to calculate average margin by category?

**Advanced**
- How would you modify your function to return a full report of margins for all categories at once?

---

### üß™ **4. Simulation Logic**
**Basic**
- What was the purpose of the sales simulation?

**Intermediate**
- How did you randomly generate orders, and why did you choose randomization?

**Advanced**
- How would you simulate more realistic order patterns, e.g., with seasonality or regional demand?

---

### üë®‚Äçüíº **5. Business Insight Questions**
**Basic**
- What is the difference between turnover and margin?

**Intermediate**
- Which supplier provided the highest margin based on your simulation?

**Advanced**
- If you had to recommend a product or supplier to prioritize for promotions, which would it be and why?

---

### üß† **6. Technical Python & Pandas Questions**
**Basic**
- What libraries did you use in this project?

**Intermediate**
- Can you explain how `DataFrame.from_dict()` works and where you used it?

**Advanced**
- If this dataset was 10 million rows, how would you optimize your processing?

---

### üßæ **7. Bonus Questions (Open-ended or Behavioral)**
- What was the most challenging part of this project?
- How would you present your findings to someone from a non-technical background?
- What would you add to this project if given more time or data?

---

Would you like me to turn these into a formatted mock interview sheet or quiz style questions with answers?

Here‚Äôs a detailed **project description** you can use for your resume, portfolio, or interview presentation:

---

## üìå **Project Title:**  
**Sales Data Analysis and Profitability Simulation using Python**

---

## üìÇ **Project Description:**

This project focuses on analyzing and simulating retail sales data to derive business insights, optimize profit margins, and understand supplier performance using Python and Pandas. The dataset includes historical order details such as product names, prices, cost prices, categories, and customer addresses.

---

## üéØ **Objectives:**
- Clean and preprocess raw sales data for analysis.
- Compute key business metrics like **turnover** and **margin**.
- Perform category-wise analysis of **average margins**.
- Simulate real-world sales transactions to understand profit behavior.
- Analyze **supplier-level contributions** to total sales and margins.

---

## üîß **Key Tasks Performed:**

### 1. **Data Cleaning & Preprocessing**
- Loaded a dataset of 185,950 rows with attributes like order ID, product, price, cost, category, and address.
- Removed duplicates and handled missing values.
- Converted date strings into proper `datetime` format for temporal analysis.

### 2. **Business Metrics Calculation**
- Created new columns such as `turnover` and `margin` to track financial performance.
- Computed the **average margin** for the entire dataset and also **per category** using custom Python functions.

### 3. **Sales Simulation (Basic)**
- Wrote a simulation function to generate random orders for products.
- Calculated turnover and margin for each simulated order.
- Provided summaries for **total simulated sales** and **total margin**.

### 4. **Supplier-wise Simulation**
- Extended the simulation to group sales by **supplier**.
- Aggregated total turnover and margin per supplier to identify the most profitable vendors (e.g., Apple, Dell, Logitech).

---

## üìà **Outcomes & Insights:**
- Identified ‚ÄúV√™tements‚Äù and ‚Äú√âlectronique‚Äù as high-margin categories.
- Apple was found to be the **highest contributing supplier** in simulated orders.
- Gained practical understanding of how simulation models can help forecast profitability.

---

## üõ†Ô∏è **Technologies Used:**
- **Python** (Pandas, NumPy)
- CSV File Handling
- DataFrame operations & aggregation
- Randomized simulations

---

## üí° **Skills Demonstrated:**
- Data Cleaning and Wrangling
- Business Analytics
- Simulation Modeling
- Supplier Performance Evaluation
- Python Programming (Functions, Loops, Aggregations)

---

Would you like me to make this into a one-page PDF or portfolio-ready summary?